{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    {% if sharedLink %}
    <iframe plausible-embed src="{{ sharedLink }}&embed=true&theme={{ theme ?: 'light' }}" scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"></iframe>
    <div style="font-size: 14px; padding-bottom: 14px;">Stats powered by <a target="_blank" style="color: #4F46E5; text-decoration: underline;" href="https://plausible.io">Plausible Analytics</a></div>
    <script async src="{{ plausible_instance_url }}/js/embed.host.js"></script>
    {% else %}
    <p>{{ 'The "Shared link" is missing or is not a Plausible link. Update it in the module configuration.'|trans({}, 'Modules.Pixelplausible.Admin') }}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}